body {
	background-color: rgb(200,200,200);
	margin: 0;
	padding: 0;
}

nav {
	background-color: rgb(25,25,25);
	width: 100%;
	height: 50px;
	position: relative;
	font-size: 20px;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 880px;
	height: 50px;
}

nav li {
	display: inline;
	float: left;
	background-color: rgb(0,0,0);
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav li:first-child a {
	font-size: 30px;
	padding: 0px 20px;
	border-left: 1px solid rgb(100,100,100);
}

nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	text-shadow: 1px 1px 0px #283744;
	padding: 0px 10px;
}

nav li a {
	border-right: 1px solid rgb(100,100,100);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav a:hover, nav a:active {
	background-color: rgb(100,100,100);
}

nav a#pull {
	display: none;
	text-align: left;
	background-color: rgb(50,50,50);
}

#main_banner {
	background-color: rgb(250,100,100);
	height: 300px;
}

.third_of_mini_banner {
	background-color: rgb(250,250,250);
	width: 33.333%;
	float: left;
	text-align: center;
	height: 150px;
}

@media only screen and (max-width : 900px) {
nav {
	border-bottom: 0;
}
nav ul {
display: none;
height: auto;
}
nav a#pull {
display: block;
width: 100%;
position: relative;
}
nav a#pull:after {
content:"";
background: url('/nav-icon.png') no-repeat;
width: 30px;
height: 50px;
display: inline-block;
position: absolute;
right: 15px;
top: 15px;
}

nav li {
	display: block;
	float: none;
	width: 100%;
	border-bottom: 1px solid #576979;
}

nav li:hover, nav li:active {
	background-color: rgb(100,100,100);
}

nav li a {
	border-right: 0px;
	padding: 0px 10px;
}

nav li:first-child a{
	padding: 0px 10px;
}
}  